.schedule-section {
  padding-top: 30px;
  padding-bottom: 30px;
}

.schedule-title {
  margin-top: 0;
}

.schedule-dropdowns {
  margin-bottom: 30px;
}

.schedule-slider {
  margin-bottom: 30px;
}

.schedule-content {
  max-width: 80%;
  margin: 0 auto;
}

.schedule-content:after {
  content: '';
  display: block;
  width: 100%;
  clear: both;
}

.schedule-time-left {
  margin-bottom: 7px;
  margin-top: 7px;
  text-align: left;
}

.clock-icon {
  padding-right: 5px;
}
