.schedule-section {
  padding-top: 30px;
  padding-bottom: 30px;
}

.schedule-title {
  margin-top: 0;
}

.schedule-dropdowns {
  margin-bottom: 30px;
}

.schedule-slider {
  margin-bottom: 30px;
}

.schedule-content {
  max-width: 80%;
  margin: 0 auto;
}

.schedule-content:after {
  content: '';
  display: block;
  width: 100%;
  clear: both;
}

.schedule-items {
  border: 1px solid #cccccc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.schedule-item {
  position: relative;
  padding: 20px 0;
  min-height: 40px;
  text-align: center;
}

.schedule-item::after {
  content: '';
  position: absolute;
  left: 5%;
  bottom: 0;
  height: 1px;
  width: 90%;
  background-color: #dddddd;
}

.schedule-item.schedule-active {
  margin: 0 -15px;
  border: 1px solid #008000;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px 20px rgba(0, 255, 0, 0.3);
  -moz-box-shadow: 2px 2px 20px rgba(0, 255, 0, 0.3);
  box-shadow: 2px 2px 20px rgba(0, 255, 0, 0.3);
  background: repeating-linear-gradient(-45deg, #f1fff2, #95ffa2 10px, #007900 5px, #009000 7px);
}

.schedule-item.schedule-active .schedule-item-time {
  border-color: #008000;
  background-color: rgb(176, 255, 169);
}

.schedule-item:first-child {
  padding-top: 30px;
}

.schedule-item:last-child {
  padding-bottom: 30px;
}

.schedule-item:last-child::after {
  content: none;
}

.schedule-item-container {
  max-width: 80%;
  margin: 0 auto;
}

.schedule-item-subject {
  margin-bottom: 10px;
  font-size: 20px;
  color: #333333;
}

.schedule-item-teacher {
  margin-bottom: 10px;
  font-style: italic;
}

.schedule-item-room {
  font-weight: bold;
}

.schedule-item-time {
  position: absolute;
  top: 50%;
  left: 5%;
  width: 45px;
  padding: 10px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  border: 1px solid #dddddd;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #f9f9f9;
  font-size: 14px;
}

.schedule-item-break {
  font-weight: bold;
}

.schedule-time-left {
  margin-bottom: 7px;
  text-align: right;
}
