<div style="transition: background-color 1000ms linear;">
  <app-loading></app-loading>
</div>
<section class="schedule-section" [ngClass]="{'blur-layer': isHidden()}">
  <div *ngIf="weekTypes.length">
    <div class="schedule-dropdowns">
      <p-dropdown [options]="weekTypes" [(ngModel)]="currentWeekType"
                  [style]="{'width':'205px', 'margin-top': '5px'}"
                  (onChange)="updateGroupData($event)"
                  placeholder="Select a week"></p-dropdown>

      <p-dropdown [options]="groupOptions" [(ngModel)]="groupName" *ngIf="groupOptions.length"
                  [style]="{'width':'205px', 'margin-top': '5px'}"
                  (onChange)="renderSchedule($event)"
                  placeholder="Select Group/Teacher" [filter]="true"
                  [filterPlaceholder]="'Filter Group/Teacher'"></p-dropdown>
    </div>

    <div class="schedule-wrapper" *ngIf="!!schedule">
      <div>
        <app-slider></app-slider>
      </div>
      <div class="schedule-content">
        <div class="schedule-time-left"><i class="fa fa-clock-o clock-icon"></i>left: {{itsLeft}}</div>
        <div *ngIf="!!schedule">
          <app-lesson-list [schedule]="schedule"></app-lesson-list>
        </div>
      </div>
    </div>
  </div>
</section>
